<form action="/favourite-list" method="post">
  <button
    type="submit"
    class="px-5 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition cursor-pointer">
    Add to Favourite ❤️
  </button>
  <input type="text" name="id" value="<%= home._id %>" hidden />
</form>
